<h2>About Page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi natus laboriosam quisquam repudiandae alias animi
    earum sequi! Cupiditate tempore ut maxime ex aliquid? Ab necessitatibus aspernatur, eveniet alias quisquam
    perferendis?</p>

<a href="/">home</a>