<h2>Hello world!</h2>
<p>Welcome to my app</p>

<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt animi in, enim nihil vel ex aperiam iusto laborum
    suscipit voluptates quia eveniet provident, illo unde, odit qui natus beatae molestias?</h2>

<a href="about">about</a>