<header>
    <div>
    <h1 class="header-title">Inventory Manager</h1>
    </div>
</header>

<div class="item-content">
    {{#each all_inventory}}
        <div class="item-content__list">
            <p class="item-conent__name">{{item_name}}</p>
            <button class="btn" data-id="{{id}}" data-state="{{is_withdrawn}}">
                {{#if is_withdrawn}} Return {{else}} Add to Withdrawn {{/if}} 
            </button>
        </div>
    {{/each}}
</div>


<div class="footer-nav">
    <a href="about">about</a>
    <a href="table">table</a>
</div>


